@use '../abstract/mixins';
@use '../abstract/variables';

.normalBtn {
  @extend .generalBtn;
  border: 2px solid variables.$color__background;
  color: variables.$color__background;
}

.normalBtn:not([disabled]):hover,
.addBtn:not([disabled]):hover {
  background-color: variables.$color__light;
}

.addBtn {
  @extend .generalBtn;
  border: 2px solid variables.$color__text;
  color: variables.$color__text;
}

