@use '../abstract/mixins';
@use '../abstract/variables';

.normalBtn {
  @extend .generalBtn;
  @extend .generalMdBtn;
  @extend .lightBtn;
  border: 2px solid variables.$color__background;
  color: variables.$color__background;
}

.normalBtn:not([disabled]):hover,
.addBtn:not([disabled]):hover {
  @extend .changedBtn;
}

.addBtn {
  @extend .generalBtn;
  @extend .generalMdBtn;
  @extend .lightBtn;
  border: 2px solid variables.$color__text;
  color: variables.$color__text;
}

