@use '../abstract/mixins';
@use '../abstract/variables';

.grid {
  margin: 1em 4em;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(
    auto-fit,
    minmax(320px, 1fr)
  );
}

.products {
  &__image{
    width: 320px;
    height: 320px;
    object-fit: cover;
  }

  &__category {
    position: relative;
    background-color: variables.$color__grey--dim;
    padding: 0 110px;
    top: 15em;
  }

  &__main {
    font-weight: 1000;
    font-size: 22px;
    
  }

}