@use '../abstract/mixins';
@use '../abstract/variables';

.search{

  &__input{
    width: 16%;
    padding: 5px 24px 10px 5px;
    background-color: transparent;
    font-size: 16px;
    color: variables.$color__text;
    border: 1px solid transparent;
    border-bottom: 1px solid variables.$color__light;
    cursor: text;
    font-family: 'Roboto', sans-serif;
  }

  &__input:hover,
  &__input:focus{
    outline: 0;
    border-bottom: 1px solid variables.$color__text;
  }

  &__icon{
    font-size: 18px;
    position: relative;
    margin-left: -1em;
  }
}