// Screen sizes
$screen-xs: 480px;
$screen-sm: 600px;
$screen-md: 768px;
$screen-lg: 900px;
$screen-xl: 1024px;
$screen-xxl: 1200px;

//Colors
$color__background: rgb(0, 57, 51);
$color__background--dim: rgb(0, 57, 51, .7);
$color__text: rgb(246, 231, 198); 
$color__text--dim: rgb(246, 231, 198, .8); 
$color__light: #83b999;
$color__grey: #999;
$color__grey--dim: rgb(153, 153, 153, .8);
$color__alertlight: #f15e5e;
$color__alertbold: #ee3535;
$color__dot--active: #FED049;
$color__dot--hidden: #AEBDCA;
$color__copyright: #8b92a0;
$color__white--dim: rgba(255, 255, 255, 0.65);
