// Screen sizes
$screen-xs: 480px;
$screen-sm: 600px;
$screen-md: 768px;
$screen-lg: 900px;
$screen-xl: 1024px;
$screen-xxl: 1200px;

//Colors
$color__background: #003933;
$color__text: #F6E7C6; 
$color__light: #83b999;
$color__grey: #999;
$color__alertlight: #f15e5e;
$color__alertbold: #ee3535;
$color__dot--active: #FED049;
$color__dot--hidden: #AEBDCA;
$color__copyright: #8b92a0;
